/* src/styles/Projects.css */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem ;
  }
  
  .project {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .project h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .project p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .project a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .project a:hover {
    color: var(--secondary-color);
  }